{% extends 'blog/base.html' %}

{% block content %}
<div id="Formulario"  style="color: black">
    <h1 style="color: white">Nuevo Vehiculo</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Registrar</button>
    </form>
</div>
{% endblock %}